 h1{

    color: rgb(0, 255, 55);
    font-display: fallback;
   }

 h2{

    color: blue;
    text-shadow:  4px 4px 4px rgb(120, 204, 231);
   }

.B:hover{
     font-size: 32px;
    text-shadow: 5px 5px 5px rgb(255, 221, 29);
    display: flex;
   }




  
body {
    background-image: url('style.jpg');
    background-size: cover;           
    background-repeat: no-repeat;
    background-position: center;       
    min-height: 100vh;                
    display: flex;
    flex-direction: column;        
    align-items: center;               
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 2px;


 li{
      color: blue;
    list-style: none;
    font-size: 17px;
    margin: -2px;
    padding: 10px;
    display: flex;
    justify-content: center ;
   } 


}